
.summons-notice-bg {
    background-color: white;
}

.notice-top-heading {
    color: #bf660d;
    font-size: 25px;
    font-weight: 600;
}

.form-group {
    margin-bottom: 15px;
}

.top-froms {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.box-textarea {
    resize: vertical;
    height: 100px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-button {
    height: 35px;
    width: 100px;
    background-color: #bf660d;
    color: white;
    border-width: 0px;
    border-radius: 6px;
    font-size: 14px;

}
